body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 16px;
  line-height: 1.5;
  @extend %roboto-400;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding: 100px 0;
}

.anm-btn {
  padding: 12px 20px;
  background-color: $pink;
  color: $white;
  font-size: 14px;
  width: fit-content;
  text-transform: uppercase;
  white-space: nowrap;
  line-height: 1;
  border-radius: 2px;
}

.title {
  position: relative;
  @extend %anton-400;
  font-size: 62px;
  line-height: 73px;
  text-transform: uppercase;
  margin-bottom: 50px;
  padding-top: 25px;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 4px;
    background-color: $pink;
    top: 0;
  }
}

.title-black {
  color: #000000;
}

.title-gray {
  color: $lightgray;
}

.title-white {
  color: $white;
}