@import 'mixin';

body {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 1.5;
  @extend %roboto-400;
}

.lock {
  overflow: hidden;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
}

.main {
  flex-grow: 1;
  &--other{
    padding-top: 130px;
  }

}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding: 100px 0;
}

.anm-btn {
  padding: 12px 20px;
  background-color: $pink;
  color: $white;
  font-size: 14px;
  width: fit-content;
  text-transform: uppercase;
  white-space: nowrap;
  line-height: 1;
  border-radius: 2px;
  transition: box-shadow 0.5s;

  &:hover {
    box-shadow: rgba(202, 21, 21, 0.6) 0px 1px 2px, rgba(202, 21, 21, 0.6) 0px 2px 4px, rgba(202, 21, 21, 0.6) 0px 4px 8px, rgba(202, 21, 21, 0.6) 0px 8px 16px, rgba(202, 21, 21, 0.6) 0px 16px 32px, rgba(202, 21, 21, 0.6) 0px 32px 64px;
  }
}

.title {
  position: relative;
  @extend %anton-400;
  font-size: 62px;
  line-height: 73px;
  text-transform: uppercase;
  margin-bottom: 50px;
  padding-top: 25px;

  @include mq('laptop') {
    font-size: 54px;
  }

  @include mq('tablet') {
    font-size: 48px;
    line-height: 64px;
  }

  @include mq('phone') {
    font-size: 42px;
    line-height: 60px;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 4px;
    background-color: $pink;
    top: 0;
  }
}

.title-black {
  color: $black;
}

.title-gray {
  color: $lightgray;
}

.title-white {
  color: $white;
}