$accent:#FF6838;
$white:#ffff;
$lightgray:#B2B2B9;
$pink:#FF285B;
$black:#000000;
// $default:#31352B;



%bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

%lato-300 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}


%roboto-300 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

%roboto-400 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

%roboto-500 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

%anton-400 {
  font-family: 'Anton', sans-serif;
  font-weight: 400;
}


// %rubik-italic {
//   font-family: 'Rubik';
//   font-weight: 400;
//   font-style: italic;
// }


$breakpoints: ("phone": 560px,
  "tablet": 768px,
  "laptop": 992px,
  "desktop": 1100px,
  "l-desktop": 1820px);