.company {

  @include mq('laptop') {
    padding: 60px 0 40px;
  }

  @include mq('phone') {
    padding: 40px 0 40px;
  }

  &__box {
    display: flex;
    position: relative;

    @include mq('laptop') {
      flex-direction: column;
      align-items: center;
    }
  }

  &__img {
    @include mq('laptop') {
      opacity: 0.4;
    }
    
    &:not(:last-child) {
      margin-right: 100px;

      @include mq('laptop') {
        margin-right: 0;
      }
    }
  }

  &__content {
    padding-top: 40px;
    max-width: 550px;
    width: 100%;

    @include mq('laptop') {
      position: absolute;
      max-width: 500px;
    }

    @include mq('phone') {
      max-width: 300px;
      padding-bottom: 70px;
    }
  }

  &__buttons-group {
    display: flex;
  }

  &__link {
    display: block;
    margin-right: 10px;

    &:nth-child(2) {
      background-color: $white;
      color: black;
      box-shadow: 0 0 0 1px black;
    }
  }

  &__text {
    font-size: 16px;
    margin-bottom: 28px;
  }

  &__link {
    display: block;
  }
}