.hero {
  color: $lightgray;
  @extend %bg;
  &__title{
    @include mq('laptop'){
      font-size: 54px;
    }

    @include mq('tablet'){
      font-size: 48px;
      line-height: 64px;
    }

    @include mq('phone'){
      font-size: 42px;
      line-height: 60px;
    }

  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 800px;
  }

  &__text {
    font-size: 14px;
    color: $white;
    line-height: 21px;
    margin-bottom: 20px;
  }
}