<section class="feedback section">
  <div class="container">
    <div class="feedback__wrapper">

      <div class="feedback__content">
        <h2 class="feedback__title title ">Our <br>
          feedback</h2>
        <div class="feedback__box">
          <button class="feedback__btn feedback__btn--left" type="button">
            <span class="sr-only">previous slide</span>
          </button>

          <button class="feedback__btn feedback__btn--right" type="button">
            <span class="sr-only">previous slide</span>
          </button>
        </div>
      </div>

      <div class="feedback__box swiper">
        <ul class="feedback__list swiper-wrapper">
          <li class="feedback__item  swiper-slide">

            <article class="feedback-card">
              <h2 class="sr-only">
                reviews</h2>
              <blockquote class="feedback-card__blockquote">I rented a bike here some time and was
                satisfied with service. Price is nice and quality
                of bikes are excellent.</blockquote>
              <figure class="feedback-card__figure">
                <img class="feedback-card__img" src="images/adam.webp" alt="review adam">
                <figcaption class="feedback-card__name">Adam Vorlok
                  <span class="feedback-card__prof">Customer</span>
                </figcaption>
              </figure>
            </article>
          </li>

          <li class="feedback__item  swiper-slide">
            <article class="feedback-card">
              <h2 class="sr-only">
                reviews</h2>
              <blockquote class="feedback-card__blockquote">When my friends came to me, I decided to
                take a stroll around the city for them. I rented
                some bicycles in Trialem and we were happy.</blockquote>
              <figure class="feedback-card__figure">
                <img class="feedback-card__img" src="images/jeff.webp" alt="review adam">
                <figcaption class="feedback-card__name">Jeff Klein
                  <span class="feedback-card__prof">Customer</span>
                </figcaption>
              </figure>
            </article>
          </li>

          <li class="feedback__item swiper-slide">
            <article class="feedback-card">
              <h2 class="sr-only">
                reviews</h2>
              <blockquote class="feedback-card__blockquote">When my friends came to me, I decided to
                take a stroll around the city for them. I rented
                some bicycles in Trialem and we were happy.</blockquote>
              <figure class="feedback-card__figure">
                <img class="feedback-card__img" src="images/jeff.webp" alt="review adam">
                <figcaption class="feedback-card__name">Jeff Klein
                  <span class="feedback-card__prof">Customer</span>
                </figcaption>
              </figure>
            </article>
          </li>

          <li class="feedback__item swiper-slide">
            <article class="feedback-card">
              <h2 class="sr-only">
                reviews</h2>
              <blockquote class="feedback-card__blockquote">I rented a bike here some time and was
                satisfied with service. Price is nice and quality
                of bikes are excellent.</blockquote>
              <figure class="feedback-card__figure">
                <img class="feedback-card__img" src="images/adam.webp" alt="review adam">
                <figcaption class="feedback-card__name">Adam Vorlok
                  <span class="feedback-card__prof">Customer</span>
                </figcaption>
              </figure>
            </article>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>