<footer class="footer" style="background-image: url('images/footer-bg.webp');" id="footer">
  <div class="container">
    <h2 class="sr-only">information</h2>

    <div class="footer__group">

      <div class="footer__nav">
        <a class="logo footer__logo" href="#hero">
          <img class="img__logo" src="images/icons/logo.svg" width="114" height="26" alt="logo">
        </a>

        <p class="footer__text">At nemore iriure luptatum nam, at iudico
          albucius console pericula this is partiendo
          constituam at per.</p>

        <ul class="social">
          <li class="social__list">

            <a class="social__link social__link--facebook" href="#" target="_blank" rel="noopener noreferrer"><svg
                class="social__icon social__icon--facebook">
                <use xlink:href="images/sprite.svg#icon-fb"></use>
              </svg>
              <span class="sr-only">go to facebook</span>
            </a>
          </li>

          <li class="social__list">
            <a class="social__link social__link--youtube" href="#" target="_blank" rel="noopener noreferrer"><svg
                class="social__icon social__icon--youtube">
                <use xlink:href="images/sprite.svg#icon-ytb"></use>
              </svg>
              <span class="sr-only">go to youtube</span></a>
          </li>

          <li class="social__list">
            <a class="social__link social__link--twitter" href="#" target="_blank" rel="noopener noreferrer"><svg
                class="social__icon social__icon--twitter">
                <use xlink:href="images/sprite.svg#icon-twitter"></use>
              </svg>
              <span class="sr-only">go to twitter</span></a>
          </li>

          <li class="social__list">
            <a class="social__link social__link--instagram" href="#" target="_blank" rel="noopener noreferrer">
              <svg class="social__icon social__icon--instagram">
                <use xlink:href="images/sprite.svg#icon-instagram"></use>
              </svg>
              <span class="sr-only">go to instagram</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer__instagram">
        <h3 class="footer__title">Instagram</h3>
        <ul class="inst-grp">
          <li class="inst-grp__item">
            <img class="insta-grp__img" src="images/inst-grp/p-1.webp" width="100" height="80" loading="lazy"
              alt="bike">
          </li>

          <li class="inst-grp__item">
            <img class="insta-grp__img" src="images/inst-grp/p-2.webp" width="100" height="80" loading="lazy"
              alt="bike">
          </li>

          <li class="inst-grp__item">
            <img class="insta-grp__img" src="images/inst-grp/p-3.webp" width="100" height="80" loading="lazy"
              alt="bike">
          </li>

          <li class="inst-grp__item">
            <img class="insta-grp__img" src="images/inst-grp/p-4.webp" width="100" height="80" loading="lazy"
              alt="bike">
          </li>
        </ul>
      </div>

      <div class="footer__contact">
        <h3 class="footer__title">Contact us</h3>

        <address class="contacts">

          <ul class="contacts__box">

            <li class="contacts__item">
              <span class="contacts-color">Phone:</span>
              <a class="contacts__link" href="tel:+10452241267">+ 1 (045) – 224 – 12 – 67</a>
            </li>

            <li class="contacts__item">
              <span class="contacts-color">Adress:</span>
              <a class="contacts__link" href="">
                470 Lucy Forks,<br>
                Patriciafurt, YC7B 3UT</a>
            </li>

            <li class="contacts__item">
              <span class="contacts-color">Mail:</span>
              <a class="contacts__link" href="mailto:template@monster.com">template@monster.com</a>
            </li>
          </ul>
        </address>
      </div>

      <div class="footer__subscribe">
        <h3 class="footer__title">Subscribe</h3>

        <form class="footer__form">
          <div class="footer__info">
            <label for="email" class="sr-only">enter your mail</label>
            <input class="footer__input" id="email" type="email" placeholder="Your mail" name="email" required>
            <button class="footer__button" type="submit">
              <svg class="footer__icon">
                <use xlink:href="images/sprite.svg#icon-msg"></use>
              </svg>
            </button>
            <p class="footer__text">Nam, at iudico albucius pericula at nemore
              iriure luptatum.</p>
          </div>
        </form>
      </div>
    </div>

    <p class="footer__copy">Zemez ©. All rights reserved.</p>
  </div>
</footer>