<section class="request section">
  <div class="container">
    <div class="request__box">

      <div class="request__map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d436170.92530420126!2d-118.48869690013032!3d33.979622113263474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c75ddc27da13%3A0xe22fdf6f254608f4!2z0JvQvtGBLdCQ0L3QtNC20LXQu9C10YEsINCa0LDQu9C40YTQvtGA0L3QuNGPLCDQodCo0JA!5e1!3m2!1sru!2spl!4v1740866573184!5m2!1sru!2spl"
          width="580" height="570" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>

      <div class="request__info">
        <h3 class="request__title">Make your Ride!</h3>
        <p class="request__text">This can salutandi quo nec elit utinam facer pertinax a <br>
          fierent, virtute dosent.</p>

        <form class="request__form" action="#">
          <label class="sr-only" for="name">your name</label>
          <input class="request__input" type="text" required placeholder="Your name" id="name">

          <label class="sr-only" for="number">your number</label>
          <input class="request__input" type="tel" required placeholder="Your phone" id="number">

          <label class="sr-only" for="email">your email</label>
          <input class="request__input" type="email" required placeholder="Your phone" id="email">

          <button class="request__btn anm-btn" type="submit">request a call</button>
        </form>
        <p class="request__footer">Your data will not be shared with third parties.</p>
      </div>
    </div>
  </div>
</section>