<section class="why section" >
  <div class="container">
    <div class="why__box">

      <div class="why__content">
        <h2 class="why__title title title-white">why
          <br>
          Trialem</h2>

        <ul class="why__list">
          <li class="why__item why__item--low">
            <h3 class="why__name">Low prices</h3>
            <p class="why__text">We provide affordable prices for
              renting bikes</p>
          </li>

          <li class="why__item why__item--new">
            <h3 class="why__name">New bicycles</h3>
            <p class="why__text">We lease new bicycles for your
              comfort.</p>
          </li>

          <li class="why__item why__item--support">
            <h3 class="why__name">Good support</h3>
            <p class="why__text">Pick up and return bicycle at our
              spot easily.</p>
          </li>

          <li class="why__item why__item--location">
            <h3 class="why__name">Convenient location</h3>
            <p class="why__text">Our maain station is located in
              the center of the city.</p>
          </li>

        </ul>
      </div>
    </div>
  </div>
</section>