.feedback {
  padding: 150px 0 60px;
  background-color: #F5F5F5;

  &__title {
    margin-bottom: 35px;
  }

  &__wrapper {
    width: 100%;
    display: flex;

    @include mq('desktop') {
      flex-wrap: wrap;
    }
  }

  &__content {
    max-width: 302px;
    width: 100%;

    @include mq('desktop') {
      margin-bottom: 30px;
    }
  }

  &__list {
    display: flex;
    max-width: 850px;

    @include mq('phone') {
      max-width: 370px;
    }
  }

  &__item {
    max-width: 400px;

    &:not(:last-child) {
      margin-right: 30px;
      @include mq('phone') {
       margin-right: 10px;
      }
    }
  }

  &__box {
    display: flex;

  }

  &__btn {
    width: 32px;
    height: 32px;
    border-radius: 20px;
    border: 2px solid $black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, border 0.3s, filter 0.3s;

    &:hover {
      border: 3px solid red;
      background-color: #fcaeae;

      &::after {
        filter: invert(93%) sepia(86%) saturate(0%) hue-rotate(169deg) brightness(108%) contrast(101%);
      }
    }

    &:disabled {
      background-color: red;
      border: transparent;
    }

    &:not(:last-child) {
      margin-right: 10px;
    }

    &::after {
      @include pseudo;
      height: 20px;
      width: 10px;
      filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(13deg) brightness(95%) contrast(105%);
      @extend %bg;
    }

    &--left::after {
      background-image: url('../images/sprite.svg#icon-left-btn');
    }

    &--right::after {
      background-image: url('../images/sprite.svg#icon-right-btn');
    }
  }
}