.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  color: $lightgray;
  z-index: 2;
  padding: 20px 0 10px;
  width: 100%;
  transition: padding 0.4s, box-shadow 0.3s, backdrop-filter 0.5s;

  @include mq('laptop') {
    padding: 0;
  }

  &--fixed {
    padding: 0;
    opacity: 2;
    box-shadow: rgba(255, 40, 91, 100) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    backdrop-filter: blur(30px);
    background-color: rgba(0, 0, 0, 0.8); 

    & .header__top {
      padding: 10px 0;
      border-bottom: 1px solid $pink;
    }

    & .menu__link {
      background-image: linear-gradient(#FF285B, $black);
      background-clip: text;
      color: transparent;
    }

    & .header__bottom {
      padding: 20px 0;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__top {
    padding: 12px 0;
    border-bottom: 1px solid $lightgray;
    transition: transform 0.5s;

    @include mq('laptop') {
      display: none;
    }
  }

  &__top-list {
    display: flex;
  }

  &__top-item:not(:last-child) {
    margin-right: 22px;
  }

  &__top-link {
    padding-left: 25px;
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    cursor: pointer;
    transition: color 0.5s, font-size 0.5s;

    &:hover {
      color: $pink;
      font-size: 15px;
    }

    &::before {
      @include pseudo;
      width: 21px;
      height: 21px;
      left: 0;
      @extend %bg;
    }

    &--local::before {
      background-image: url("../images/icons/icon-symbol.svg");
      width: 15px;
    }

    &--phone::before {
      background-image: url("../images/icons/icon-phone.svg");
    }
  }

  &__bottom {
    padding: 30px 0;
    transition: padding 0.5s;

    @include mq('laptop') {
      padding: 20;
    }
  }
}

