.request {
  position: relative;
  color: $white;
  @include mq('tablet') {
    padding-bottom: 0;
  }

  &::after {
    @include pseudo;
    background-color: #381C75;
    height: 590px;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }


  &__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include mq('tablet') {
      justify-items: center
    }
  }

  &__map {
    margin-right: 80px;

    @include mq('laptop') {
      margin-right: 50px;
    }

    @include mq('tablet') {
      display: none;
    }

    iframe {
      @include mq('desktop') {
        width: 400px;
        height: 400px;
      }

      @include mq('laptop') {
        width: 300px;
        height: 300px;
      }
    }
  }

  &__title {
    @extend %roboto-500;
    font-size: 24px;
    line-height: 1;
    letter-spacing: 0.02em;
    margin-bottom: 18px;
  }

  &__text {
    @extend %roboto-300;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    margin-bottom: 30px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 370px;
    max-width: 100%;

    @include mq('phone') {
      width: 300px;
    }
  }

  &__input {
    padding: 18px;
    width: 100%;
    background-color: transparent;
    border: 1px solid #A790DA;
    border-radius: 2px;
    color: $white;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &::placeholder {
      color: #A790DA;
    }
  }

  &__btn {
    margin-bottom: 30px;
  }

  &__footer {
    padding-left: 35px;
    position: relative;

    &::before {
      left: 0;
      @include pseudo;
      width: 19px;
      height: 19px;
      @extend %bg;
      background-image: url('../images/sprite.svg#icon-check');
      filter: invert(58%) sepia(46%) saturate(1220%) hue-rotate(84deg) brightness(98%) contrast(87%);
    }
  }

}